p {
  /*color: #666666;*/
  font-family: 'Noto Serif', "Times New Roman", serif;
  font-size: 1em;
}

h1{
  font-family: 'Open Sans', "Arial", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: #000000;
}

h2{
  font-family: 'Open Sans', "Arial", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: #000000;
}

h3{
  font-family: 'Open Sans', "Arial", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: #000000;
}

h5{
  font-family: 'Open Sans', "Arial", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: #000000;
}

body{
  /*background-color:#f1b82d; for Mizzou Gold*/
  margin: 0;
}

#container{
  width: 95%;
  background-color:#ffffff;
  margin:0 auto;
}

.caption{
  color:black;
  font-family: 'Open Sans', "Arial", sans-serif;
  font-size:0.8em;
  font-style:italic;
  margin-top:0;
  text-align:right;
}

.first{
  border-bottom:
}

#nav {
    padding: 0;
	list-style-type: none;
  margin: 0;
}

#nav li {
    margin: 0;
    padding: 1;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#story1 a:link, a:visited {
  text-decoration: none;
}

#story1 a:hover, a:active {
color: #000000;
}


#nav a:link, a:visited {
	display:block;
    color: #f1b82d;
    background-color: #302f2d;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    margin-top: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: gray;
}

img {
  border-style: none;
}

#logo {
  color:black;
  font-family: 'Open Sans', "Arial", sans-serif;
  font-style: bold;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;

  background-color:lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
}

#topheadlines {
  color:black;
  font-family: 'Open Sans', "Arial", sans-serif;
  font-style: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
  text-decoration: none;
}
