p {
  font-family: 'Noto Serif', "Times New Roman", serif;
  font-size: 1em;
}

header {
  display: flex;
  flex-flow: row;
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Open Sans', "Arial", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: #000000;
}

h2{
  font-family: 'Open Sans', "Arial", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: #000000;
}

h3{
  font-family: 'Open Sans', "Arial", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: #000000;
}

h5{
  font-family: 'Open Sans', "Arial", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: #000000;
}

img {
  border-style: none;
}

.button_box2 {
margin:100px auto;
}
/*-------------------------------------*/
.cf:before, .cf:after{
content:"";
display:table;
}
.cf:after{
clear:both;
}
.cf{
zoom:1;
}
/*-------------------------------------*/

.form-wrapper-2 {
width: 330px;
padding: 7px;
background: black;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
.form-wrapper-2 input {
width: 210px;
height: 20px;
padding: 10px 5px;
float: left;
font: bold 15px, sans-serif;
border: 0;
background: #eee;
-moz-border-radius: 3px 0 0 3px;
-webkit-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
}
.form-wrapper-2 input:focus {
outline: 0;
background: #fff;
-moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
-webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper-2 input::-webkit-input-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.form-wrapper-2 input:-moz-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.form-wrapper-2 input:-ms-input-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.form-wrapper-2 button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 40px;
width: 110px;
font: bold 15px/40px , sans-serif;
color: #fff;
text-transform: uppercase;
background: #f1b82d;
-moz-border-radius: 0 3px 3px 0;
-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
.form-wrapper-2 button:hover{
background: gray;
}
.form-wrapper-2 button:active,
.form-wrapper-2 button:focus{
background: #f1b82d;
}
.form-wrapper-2 button:before {
content: '';
position: absolute;
border-width: 8px 8px 8px 0;
border-style: solid solid solid none;
border-color: transparent #f1b82d transparent;
top: 12px;
left: -6px;
}
.form-wrapper-2 button:hover:before{
border-right-color: gray;
}
.form-wrapper-2 button:focus:before{
border-right-color: #f1b82d;
}
.form-wrapper-2 button::-moz-focus-inner {
border: 0;
padding: 0;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* this is another way to express a 16:9 ratio */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body{
  /*background-color:#f1b82d; for Mizzou Gold*/
  margin: 0;
}

#container{
  width: 80%;
  background-color:#ffffff;
  margin:0 auto;
}

#headercontainer{
  width: 100%;
  margin: 0 auto;
}

#mediablock{
  width: 80%;
  background-color:#ffffff;
  margin:0 auto;
}

.caption{
  color:black;
  font-family: 'Open Sans', "Arial", sans-serif;
  font-size:0.8em;
  font-style:italic;
  margin-top:0;
  text-align:left;
}

.first{
  border-bottom:
}

#story1 {
  color: #000000;
}

#story1 a:link {
  text-decoration: none;
  color: #000000;
}

#story1 a:visited {
  color: #000000;
  text-decoration: none;
}
#story1 a:hover, a:active {
color: #000000;
}

nav {
  width: auto;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0;
    border-bottom: 1px #f1b82d solid;
}

nav a {
    display: block;
    color: #f1b82d;
    background-color: #000000;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 0;
    font-family: "Open Sans", Arial, sans-serif;
    padding: 20px 30px;
}

/*header {
    display: flex;
    flex-flow: row;
    background-color: #65a8a6;
    margin: 0;
    padding: 0 10px;
}*/

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

img {
  border-style: none;
}

#logo {
  color:black;
  font-family: 'Open Sans', "Arial", sans-serif;
  font-style: bold;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;

  background-color: #f1b82d;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
}

#topheadlines {
  color:black;
  font-family: 'Open Sans', "Arial", sans-serif;
  font-style: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
  text-decoration: none;
}

audio {
	width: 1000px;
}

video {
	padding: 10px;
	border: 1px solid #ddd;
	background-color: white;
}

#footer {
  font-size: .8em;
  font-family: 'Open Sans', "Arial", sans-serif;
}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}
